<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main Page</title>
</head>
<body>
<h1>Main Page</h1>
<a th:href="@{/registration}">register</a>
<br/>
<br/>
<div sec:authorize="!isAuthenticated()">
    <form  th:action="@{/login}" method="get">
        <input type="submit" value="Log in">
    </form>
</div>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>

</body>
</html>